
tensorflow==2.10.0
tensorflow_text==2.10.0
torch==1.9.1
torchtext==0.10.1
transformers==4.21.2
bentoml==1.0.3
mlflow
sklearn
matplotlib

paddlepaddle==2.3.2
paddlenlp>=2.0.0rc

pytorch-lightning

tensorflow-addons

# jupyter 相关
ipywidgets
