tensorflow==1.14.0
tensorflow-gpu==1.14.0
Keras==2.3.1
sklearn
bert4keras

# https://blog.csdn.net/qq_39309652/article/details/119864159
h5py==2.10

matplotlib

# https://github.com/pytorch/text/
# torchtext==0.10.1